a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#content{
    background: #265573;
    padding-top: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding-bottom: 1vh;
}

.carde{
	margin-bottom: 15px;
}

.frase{
	color: black;
	text-align: center;
}

.card-header {
    background-color: #F5F5F5;
}

#frase-img1{

}

#frase-img2{
 	height: 20rem;
 	width: 15rem;
}

#frase-img3{

}

.rodape{
	position: fixed;
	left: 1px;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
	bottom: 0;
	border-radius: 0 15px 0 0;
	background-color: #F5F5F5;
	text-align: justify-all;
}

.rodape p{
	display: inline;
	vertical-align: middle;

	color: #112A40;
	font-style: border;
	margin-right: 5px;
}
